/* Nav */
.nav-pills .nav-link.active {
    background-color: #b7000f;
    color: #f2e23a !important;
}

.nav-justified .nav-item {
    background-color: #bd2130;
    margin:0;
    border-radius: 0;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8)!important;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.nav-link:hover {
    color: #f2e23a !important;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.nav-item {
    font-size: 35px;
    margin-right: 7px;
}

.nav {
    margin-bottom: 20px;
    border-bottom: 7px solid #f2e23a;
    font-family: 'Indie Flower', sans-serif;
}

/* Jumbotron */

.jumbotron {
    background-image: url("../assets/images/tropical.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.jumbotron-heading {
    font-family: 'Indie Flower', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.jumbotron-text {
    font-family: Quicksand;
    font-weight: 900;
    font-size: 18px;
    color: black;
}

.btn-primary {
    margin-top: 8px !important;
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: transparent;
    background-image: none;
    border-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-primary:hover {
    color: #f2e23a !important;
    background-color: transparent;
    background-image: none;
    border-color: #f2e23a !important;
    
}

/* Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px; 
    margin-top: 20px;
}

.legal-heading {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.legal-text {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
}

/* Selections */

.instruction {
    font-family: 'Indie Flower', sans-serif;
    font-size: 26px;
    color: #1c1c1c;
    font-weight: 700;
}

.form-control {
    color: black !important;
    background-color: transparent;
    background-image: none;
    border-color: black !important;
    margin-bottom: 8px !important;
}
    
.background {
    background-color: rgba(255, 255, 255, 0.6);
}



.contactform {
    margin: 0px auto;
    width: 75%;
    border: 7px solid #1be228;
    border-radius: 5px;
    padding: 7px;
}

#map {
    min-height: 360px;
    width: 360px;
}

