.nav {
    margin-bottom: 20px;
    border-bottom: 7px solid #1be228;
}

.jumbotron {
    background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */;
}
.destination-img {
    border-style: double;
    border-color: black;
    border-width: 5px;
    width: 100%;
    max-width: 500px;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px; 
    margin-top: 20px;
}

.contactform {
    margin: 0px auto;
    width: 75%;
    border: 7px solid #1be228;
    border-radius: 5px;
    padding: 7px;
}

#map {
    min-height: 360px;
    width: 360px;
}

